* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgoldenrodyellow;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  border: none;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.frases{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.frases ul p {
    margin-bottom: 1rem;
}
.frases ul ul li {
margin: 0!important;
}

.frases ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.btn-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-input{
  margin: .5rem 0;
}

.btn-group .btn-input{
  margin-bottom: 1rem;
}
.btn {
  background-color: black;
  color: white;
  padding: 4px;
  text-align: center;
  width: 200px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 0.1px solid black;
}
.btn:hover a {
  color: black;
}

.center {
  text-align: center
}

.fixed {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links li{
  margin-top: 1rem;
}

.buscar-margin{
  margin-bottom: .5rem;
}

.form-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-default{
  margin: .5rem 0;
}