<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="\static\styles.css">
<head>
    <title>Seguro?</title>
</head>
<body>
    <div id="content">
        <h1>¿Seguro que quieres salir?</h1>
        <br>
        <form action="" method="post">
                <a class="btn btn-default" href="/logout">Si</a>
                <a class="btn btn-default" href="/">No</a>
        </form>
    </div>
    <div id="footer">
        &copy; Copyright 2021 por <a href="/">mi</a>
    </div>
</body>
</html>
