<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="\static\styles.css">
<head>
    <title>Frases Favoritas</title>
</head>
<body>
    <div id="content">
        <h1>Frases favoritas de {{username}}</h1>
        <form action="" method="post" class="frases">
            <ul>
                {%for i in range(len) %}
                <div>

                    <input type="checkbox" id="id_{{i}}" name='indice' value="{{ i }}">
                    <label for="id_{{i}}">"{{  frases[i][1] }}"</label>
                </div>
                    <p><strong>Fuente: </strong>{{  frases[i][2] }}</p>
                {%endfor %}
                
            </ul>
            {%if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {%endif%}
            <input class="btn btn-input" type="submit" name='boton' value="Eliminar">
        </form>
        <div class="btn-group">
        <a href="/" class="btn">Menú</a>
    </div>
    </div>
    <div id="footer">
    </div>
</body>
</html>