<!DOCTYPE html>
<html lang="es">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="\static\styles.css">
<head>
    <title>Frases célebres</title>
</head>
<body>
    <div class="content">
        {% if username %}
        <h1 class="center">Bienvenido, {{ username }}</h1>
        <nav>
            <ul class="links">
                <li class="btn"><a href="/confirm">Cerrar sesión</a></li> <!-- se puede hacer botón -->
                <li class="btn"><a href="/search">Realice una búsqueda.</a></li> <!-- se puede hacer botón -->
                <li class="btn"><a href="/frases">Consulta tus frases favoritas.</a></li> <!-- se puede hacer botón -->
                <li class="btn"><a href="/register">Modifica tu cuenta.</a></li> <!-- se puede hacer botón -->
            </ul>
        </nav>
        {% else %}
        <h1 class="center">¡Bienvenido al sitio!</h1>
        <nav>
            <ul class="links">    
                <li class="btn"><a href="/login">Inicie sesión.</a></li> <!-- se puede hacer botón -->
                <li class="btn"><a href="/search">Realice una búsqueda.</a></li> <!-- se puede hacer botón -->
                <li class="btn"><a href="/register">Regístrese.</a></li> <!-- se puede hacer botón -->
            </ul>
        </nav>
        {% endif %}  
    </div>
    <div id="footer">
    </div>
</body>
</html>
