<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi Webpage con login</title>
</head>
<body>
    <div id="content">
        <h1>Mi pagina con LOGIN</h1>
         <h2>Please login</h2>
         <br>
         <form action="" method="post">
                <input type="text" placeholder="email" name="email" value="{{ request.form.email }}">
                <input type="password" placeholder="password" name="password" value="{{request.form.password }}">
                <input class="btn btn-default" type="submit" value="Login">
         </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
    </div>
    <div id="footer">
        &copy; Copyright 2021 por <a href="/">mi</a>
    </div>
</body>
</html>
