<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro de usuarios</title>
</head>
<body>
    <div id="content">
        <h1>Registro de usuarios</h1>
         <h2>Por favor registre su usuario, correo y contraseña.</h2>
         <br>
         <form action="" method="post">
                <input type="text" placeholder="username" name="username" value="{{ request.form.username }}">
                <input type="text" placeholder="email" name="email" value="{{ request.form.email }}">
                <input type="password" placeholder="password" name="password" value="{{ request.form.password }}">
                <input class="btn btn-default" type="submit" value="Register">
         </form>
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
        <p>¿Ya tienes una cuenta? <a href="login">Inicia sesión.</a></p>
    </div>
    <div id="footer">
    </div>
</body>
</html>
