<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="\static\styles.css">
<head>
    <title>Búsqueda de frases célebres</title>
</head>
<body>
    <div id="content">
        <h1 class="center">Búsqueda de frases célebres</h1>
         
        <form action="" method="post">
            <input type="text" placeholder="frase" name="frase" value="{{ request.form.frase }}">
            <input type="text" placeholder="similitud" name="similitud" value="{{ request.form.similitud }}">
            <input class="btn btn-default" type="submit" name='boton' value="Buscar">
        
        {%if resultados %}
            <h2>Frase buscada: "{{frase}}"</h2>
            {%if username %}
            <ul>
                {%for i in range(len) %}
                    <input type="checkbox" id="id_{{i}}" name='indice' value="{{ i }}">
                    <label for="id_{{i}}">"{{  resultados[i][1] }}"</label>
                    <p>&nbsp;{{  resultados[i][2] }}</i>, similitud: {{  resultados[i][0] }}</p>
                {%endfor %}
                <input class="btn btn-default" type="submit" name='boton' value="Agregar a favoritos">
            </ul>
            {%else%}
            <ul>
                {%for i in range(len) %}
                <li><p>"{{  resultados[i][1] }}"</p>
                <p><i>{{  resultados[i][2] }}</i>, similitud: {{  resultados[i][0] }}</p>
                </li>
                {%endfor %}
            </ul>
            {%endif%}
            
        {%endif%}
        {%if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {%endif%}
    </form>
    </div>
    <div id="footer">
    </div>
</body>
</html>